@charset "UTF-8";

h1 {
	font-size: 200%;
	padding: 10px;
	text-align: center;
	font-family: "Arial", sans-serif;
	color: darkgrey;
}

a:link, a:visited {
  	text-decoration: none;
  	color: darkgrey;
  	text-align: center;
  	font-family: "Helvetica", sans-serif;
}

a:hover, a:active {
  	text-decoration: underline;
  	color: red;
  	text-align: center;
  	font-family: "Helvetica", sans-serif;
}

.topleft {
  	position: absolute;
  	top: 100px;
  	left: 16px;
  	font-size: 28px;
  	color: darkgrey;
}

#mainPic {
  	border-radius: 0px;
  	width: 100%;
  	height: auto;
}

img {
	border-radius: 50%;
	width: 256px;
	height: 256px;
}

.grid-container {
  	display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 10px;
}

.grid-item {
  	padding: 10px;
  	text-align: center;
}

.contact-us {
	display: grid;
  	grid-template-columns: max-content auto;
  	padding: 10px;
}

.label-item {
  	padding: 10px;
  	text-align: right;
  	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	color: darkgrey;
}

.input-item {
  	padding: 10px;
  	text-align: left;
}

input[type=text] {
  	background-color: #d5d5d5;
  	width: 50%;
  	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}

textarea {
	width: 50%;
	height: 150px;
	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #d5d5d5;
  	resize: none;
  	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}

button {
	background-color: #d5d5d5;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	width: 51%;
  	font-family: "Arial", sans-serif;
	font-size: 16px;
}
