@charset "UTF-8";

.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background: linear-gradient(to left, #555, #000);
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: darkgrey;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 10px;
}

body {
	margin: 0;
	background: url(../images/beans.jpeg) repeat;
}

h1 {
	font-size: 200%;
	padding: 10px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: darkgrey;
}

a:link, 
a:visited {
  	text-decoration: none;
  	color: darkgrey;
  	text-align: center;
  	font-family: Helvetica, sans-serif;
}

a:hover, 
a:active {
  	text-decoration: underline;
  	color: red;
  	text-align: center;
  	font-family: Helvetica, sans-serif;
}

.header {
	height: 110px;
	position: relative;
}

.header ul li{
	display: inline-block;
	margin: 10px;
	
}

.header ul {
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	text-align: right;
	font-style: italic;
}

.name {
	position: absolute;
    left: 170px;
    bottom: 20px;
    font-family: serif;
}

.header:before {
	content: '';
  	background: url(../images/logo.png) no-repeat;
  	background-size: contain;
  	margin: 0 30px 0;
  	float: left;
  	height: 110px;
  	width: 110px;
}

.footer {
	height: 20px;
	text-align: right;
    margin: 30px 10px 0;
}

.topleft {
	background: url(../images/main.jpg) no-repeat left top;
  	background-size: cover;
  	padding: 20px 10px;
  	font-family: fantasy, sans-serif;
  	font-size: 28px;
  	color: darkgrey;
  	height: 720px;
  	width: auto;
}

.mainPic {
  	border-radius: 0;
  	width: 100%;
  	height: auto;
}

.coffeePic {
	border-radius: 0;
	border: double #935100;
	width: 400px;
  	height: auto;
}

img {
	border-radius: 50%;
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	overflow: hidden;
  	padding: 0;
  	margin: 0 auto;
}

.grid-catalog {
  	margin: 15px 10px;
  	text-align: center;
}

.grid-item {
  	padding: 10px;
  	position: relative;
}

.grid-pic {
  	width: 400px;
  	height: auto;
  	padding: 0 30px 20px 0;
  	float: left;
}

.grid-pic:hover .coffeePic {
	border-color: rgba(255, 0, 0, 0);
}

.grid-item h1, h4 {
  	color: #eaeaea;
  	text-align: left;
}

.options {
	clear: both;
}

h4 {
	font-size: 18px;
	font-weight: 400;
}

h5 {
	font-size: 16px;
}

table {
	font-size: 14px;
	font-family: Arial, sans-serif;
	text-align: left;
	width: 95%;
	border: double #797979;
	border-collapse: collapse;
}

th {
	padding: 3px 10px;
}

.rowName {
	font-size: 18px;
	font-family: fantasy, sans-serif;
	line-height: 26px;
	text-transform: capitalize;
	border: double #797979;
}

.shortDescr {
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.longDescr {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;
}

.shortDescr:first-letter,
.longDescr:first-letter {
  	font-family: serif;
  	font-style: oblique;
  	font-weight: 800;
  	font-size: 36px;
  	color: #eaeaea;
}

.contact-us {
	display: grid;
  	grid-template-columns: max-content auto;
  	padding: 10px;
}

.label-item {
  	padding: 10px;
  	text-align: right;
  	font-family: fantasy, sans-serif;
	font-size: 16px;
	color: darkgrey;
}

.input-item {
  	padding: 10px;
  	text-align: left;
}

input[type="text"], [type="email"] {
  	width: 50%;
  	height: 30px;
}

input[type="email"]:focus {
	color: #eaeaea;
	background-color: #5e5e5e;
}

textarea {
	width: 50%;
	height: 150px;
  	resize: none;
}

input[type="text"], [type="email"], 
textarea {
	background-color: #d5d5d5;
	border-radius: 4px;
	border: 3px solid #a9a9a9;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: black;
	text-transform: capitalize;
}

textarea:focus, 
input:focus {
    border-color: #ff2600;
}

button {
	background-color: #d5d5d5;
	border: none;
	outline: none;
  	border-radius: 4px;
  	cursor: pointer;
  	font-family: fantasy, sans-serif;
  	font-weight: 800;
	font-size: 18px;
	box-shadow: 5px 5px 10px 0 #919191;
	height: 50px;
	padding: initial;
}

button:hover {
	background-color: #a9a9a9
}

button:active {
  box-shadow: 3px 3px 5px 0 #797979;
  transform: translateY(4px);
}

.buttonBasket {
	width: 200px;
	margin: 30px 0 0;
	position: absolute;
	right: 20px;
}

.buttonSend {
  	width: 51%;
}
